@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<div class="page contact-page">
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
    <div class="clear">
    </div>
    <div class="page-body">
        @Html.Widget("contactus_top")
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>        
        }
        else
        {
            using (Html.BeginForm())
            {
            <fieldset>
                <legend style="margin-bottom:0;">@T("PageTitle.ContactUs")</legend>
                <p class="message-error">
                    @Html.ValidationSummary(true)
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName) *
                            @Html.TextBoxFor(model => model.FullName, new { @class = "fullname form-control input-sm", placeholder = T("ContactUs.FullName.Hint") })
                            @Html.ValidationMessageFor(model => model.FullName, null, new { @class="label label-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email) *
                            @Html.TextBoxFor(model => model.Email, new { @class = "email form-control input-sm", placeholder = T("ContactUs.Email.Hint") })
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class="label label-danger" })
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="form-group">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.Enquiry) *
                            @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry form-control input-sm", placeholder = T("ContactUs.Enquiry.Hint") })
                            @Html.ValidationMessageFor(model => model.Enquiry, null, new { @class="label label-danger" })
                        </div>
                        <input type="submit" name="send-email" class="btn btn-sm contact-us-button" value="@T("ContactUs.Button")" />
                    </div>
                </div>
            </fieldset> 
            }
        }
        @Html.Widget("contactus_bottom")
    </div>
</div>
