@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
<div class="page search-page">
    
    <h1 style="margin-top:0">@T("Search")</h1>
    
    <div class="page-body">
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
        {
            <div class="row">
                  <div class="col-xs-12 col-md-6">
                      <div class="search-input">
                        <script type="text/javascript">
                            $(document).ready(function () {

                                $("#@Html.FieldIdFor(model => model.As)").click(toggleAdvancedSearch);

                                toggleAdvancedSearch();
                            });

                            function toggleAdvancedSearch() {

                                if ($('#@Html.FieldIdFor(model => model.As)').is(':checked')) {
                                    $('#advanced-search-block').show();
                                }
                                else {
                                    $('#advanced-search-block').hide();
                                }
                            }

                        </script>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Q):
                            @Html.TextBoxFor(model => model.Q, new { @class = "search-text form-control input-sm" })
                        </div>
                        @Html.Widget("productsearch_page_basic")
                        <div class="form-group">
                            @Html.LabelFor(model => model.As)
                            @Html.CheckBoxFor(model => model.As)
                        </div>
                          <div id="advanced-search-block">
                                @if (Model.AvailableCategories.Count > 0)
                                {
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories, new { @class="form-control input-sm" })
                                        @Html.CheckBoxFor(model => model.Isc)
                                        @Html.LabelFor(model => model.Isc)
                                    </div>
                                }
                                @if (Model.AvailableManufacturers.Count > 0)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mid)
                                        @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers, new { @class="form-control input-sm" })
                                    </div>
                                }
                                    <div class="form-group">
                                        <label><strong>@T("Search.PriceRange"):</strong></label>
                                        <br />
                                            @T("Search.PriceRange.From")
                                            @Html.TextBoxFor(model => model.Pf, new { @class = "price-from form-control input-sm" })
                                            @T("Search.PriceRange.To")
                                            @Html.TextBoxFor(model => model.Pt, new { @class = "price-to form-control input-sm" })
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(model => model.Sid)
                                        @Html.LabelFor(model => model.Sid)
                                    </div>
                                    @Html.Widget("productsearch_page_advanced")
                            </div>
                          <input type="submit" class="btn btn-success btn-sm search-button" value="@T("Search")" />
                       </div>
                   </div>
                  <div class="col-xs-12 col-md-6">
                  
                  </div>
            </div>
            
            <div class="clear">
            </div>
            <div class="search-results">
                @if (Model.NoResults)
                {
                    <span class="result">
                        @T("Search.NoResultsText")
                    </span>
                }
                <div class="product-list">
                    @*list mode*@
                    <div class="product-list">
                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box">
                                @Html.Partial("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="pager">
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
                </div>
            </div>
        }
    </div>
</div>
