@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
    @Html.Widget("home_page_top")
    @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
    @Html.Action("HomepageCategories", "Catalog")
    @Html.Action("HomepageProducts", "Catalog")
    @Html.Action("HomepageBestSellers", "Catalog")
    @Html.Action("HomePageNews", "News")
    <div class="clear">
    </div>
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")