@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<script>
    $(document).ready(function () {
        $("input[type=password]").addClass("form-control").css("width", "200");
    })
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="clear">
        </div>
        <div class="page-body">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="clear">
                </div>
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="clear">
            </div>
            <fieldset class="form-fields">
                <legend></legend>
                <dl>
                    <dd class="form-group">
                        @Html.LabelFor(model => model.OldPassword) @Html.RequiredHint()
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class="label label-danger" })
                    </dd>
                    <dd class="form-group">
                        @Html.LabelFor(model => model.NewPassword) @Html.RequiredHint()
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class="label label-danger" })
                    </dd>
                    <dd class="form-group">
                        @Html.LabelFor(model => model.ConfirmNewPassword) @Html.RequiredHint()
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, null, new { @class="label label-danger" })
                    </dd>
                </dl>
            </fieldset>
            <div class="clear">
            </div>
            <div class="buttons">
                <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}