@model TopicMoveModel
@using Nop.Web.Models.Boards;
@using Nop.Services.Seo;
@{    
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="page move-forum-topic">
        @Html.Action("ForumBreadcrumb", new { forumTopicId = Model.Id })
        <div class="clear">
        </div>
        <div class="title">
            @T("Forum.MoveTopic")
        </div>
        <div class="clear">
        </div>
        <div class="page-body">
            <div class="form-group">
                @T("Forum.SelectTheForumToMoveTopic"):
            </div>
            <div class="form-group">
                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
            </div>
            <div class="form-group">
                <input type="submit" value="@T("Forum.Submit")" class="btn btn-sm btn-success submit-forum-topic-button" />
            <input type="button" class="btn btn-sm cancel-forum-topic-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })    ')" />
            </div>
        </div>
    </div>
}