@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage">
        <div class="title">
            @*<a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a>*@
            <h3>@T("News")</h3>
        </div>
        <div class="clear">
        </div>

        <div class="news-items">
            
            @foreach (var item in Model.NewsItems)
            {
                
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h4><a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h4>
                        <p><span class="news-date">@item.CreatedOn.ToString("D")</span></p>
                        <div class="news-details">@Html.Raw(item.Short)</div>
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                      </div>
                    </div>
                  
            }
            <p></p>            
        </div>
        <div class="view-all">
            <a class="btn btn-default" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>
    </div>
}